*.o
Makefile.config
configure.lua
Makefile
src/Makefile
src/config.h
src/man/BSDmakefile
src/man/GNUmakefile
src/man/Makefile
src/modules/Makefile
src/modules/libsosyslog.so.1.3.2
src/peo/Makefile
src/peo/peochk
src/sosyslogd
