*.o
Makefile.config
configure.lua
config.log
config/*
src/config.h
src/.depend
src/peo/.depend
src/modules/.depend
src/modules/libsosyslog.so.*
src/peo/peochk
src/sosyslogd
src/modules/libtool
src/modules/*.lo
src/peo/*.lo
src/modules/.libs/
